
/* Styles for the component "Header.tsx" */
#headerContainer{
    position: relative;
    background-color: #77dd77;
    flex-basis: 8vh;
    flex-grow: 1vh;
}
/* ////////////////////////////////////////// */

/* Styles for the component "Mainhome.tsx"*/
#mainContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #02af02;
    flex-basis: 0; /* Start in 0 and */
    flex-grow: 999;
}
/* Styles for the form of the button's*/

#mainForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Styles for the buttons' of the mainform */
#buttonMainhome{
    position: relative;
    background-color: rgba(0, 0, 255, 0.753);
    color: white;

    border-radius: 5px;
    height: 10vh;
    margin-top: 25px;
    
    font-family: '';
    text-align: center;
    letter-spacing: 2px;
    
}
/* ////////////////////////////////////////// */

/* Styles for the footer from the component "Footer.tsx" */ 
#footerContainer{
    position: relative;
    margin-top: auto;
    background-color:#77dd77;
    flex-basis: 8vh;
    flex-grow: 1;
}
/* ////////////////////////////////////////// */